@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-black rounded-lg text-center flex justify-center items-center text-white h-[50px] w-full hover:opacity-90;
    }
}

.logo_bg {
    background: url("url:~assets/bg.svg") no-repeat;
}


.progress-bar {
    position: relative;
    width: 100%;
    height: 8px; 
    background-color: #E8E6EE; 
    border-radius: 10px; 
    overflow: hidden;
  }
  
  .progress {
    position: relative;
    height: 100%;
    background: #212121;
    border-radius: 10px 0 0 10px; 
  }