@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
    font-family:
        Albert Sans,
        Arial,
        Helvetica,
        sans-serif;
}
@layer components {
    .btn {
        @apply bg-black rounded-full border-2 border-primary text-center flex justify-center items-center text-white h-[41px] w-full hover:bg-primary;
    }

    .btn2 {
        @apply rounded-full bg-primary text-center flex justify-center items-center text-white h-[41px] w-full;
    }
}

.logo_bg {
    background: url("url:~assets/bg.svg") no-repeat;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 600px;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #848484, #848484 3px, #0000 3px, #0000 6px) right/200% 100%;
    animation: l3 30s infinite linear;
}
@keyframes l3 {
    100% {
        background-position: left;
    }
}

.loading {
    --size: 4px;
    --space: 6px;
    height: var(--size);
    width: var(--size);
    aspect-ratio: 1;
    position: relative;
}
.loading::before,
.loading::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #fff;
}
.loading::before {
    box-shadow: calc(var(--space) * -1) 0;
    animation: l8-1 1s infinite linear;
}
.loading::after {
    transform: rotate(0deg) translateX(var(--space));
    animation: l8-2 1s infinite linear;
}

@keyframes l8-1 {
    100% {
        transform: translateX(var(--space));
    }
}
@keyframes l8-2 {
    100% {
        transform: rotate(-180deg) translateX(var(--space));
    }
}
