@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}
@layer components {
    .btn {
        @apply bg-black rounded-lg text-center flex justify-center items-center text-white h-[50px] w-full hover:bg-[#4281FF];
    }
}

.logo_bg {
    background: url("url:~assets/bg.svg") no-repeat;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: #e8e6ee;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    position: relative;
    height: 100%;
    background: #212121;
    border-radius: 10px 0 0 10px;
}
